@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global ===================================================================================================== */
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.card, .btn, .form-control {
  border: none !important;
}

.btn-border-none {
  border: none !important;
}

.full-hight {
  height: 75vh !important;
}

.hr-width {
  width: 75%;
}
