@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global ===================================================================================================== */
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

.card, .btn, .form-control, .toast {
  border: none !important;
  border-radius: 0.5rem !important;
}

.full-hight {
  height: 75vh !important;
}

.hr-width {
  width: 75%;
}

.alert-danger {
  background-color: #c62128 !important;
  color: #ffffff !important;
}

.alert-warning {
  background-color: #fbb034 !important;
  color: #000000 !important;
}

.alert-success {
  background-color: #3bb78f !important;
  color: #ffffff !important;
}
